<footer>
  <footer class="footer">
    <div class="container">
      <div class="footer__logo">
          <a class="logo header__logo" href="#">
            <img src="images/logo.svg" alt="" />
          </a>
        </div>
      <div class="footer__inner">
        
       <dl class="footer__contact">
        <dt class="footer__contact-title">Contact us:</dt>
        <dd class="footer__contact-item">13 John Prince's Street,<br> 2nd Floor, London, W1G 0JR, UK
           <br> Mail: info@anuitex.net</dd>
          </dl>
            <dl class="footer__links">
        <dt class="footer__links-title">Quick links:</dt>
        <dd class="footer__links-item">Software development</dd>
              <dd class="footer__links-item">Web and mobile design</dd>
              <dd class="footer__links-item">Quality assurance</dd>
              <dt class="footer__links-item">Business and tech consulting</dt>
       </dl> 
       <dl class="footer__start">
        <dt class="footer__start-title">Start your project faster:</dt>
        <dd class="footer__start-item">Web development brief</dd>
              <dd class="footer__start-item">Mobile development brief</dd>
       </dl>
       <div class="footer__follow">
        <dt class="footer__follow-title">Follow us:</dt>



       </div>
    </div>
  </footer>
</footer>

<script src="js/main.min.js"></script>
</body>

</html>