<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="header__logo" href="#">
            <img src="images/studio3.webp" alt="" />
          </a>
          <div>
          <button class="header__btn btn">Development</button>
          <button class="header__btn btn">Design</button>
          <button class="header__btn btn">Portfolio</button>
          <button class="header__btn btn">Contact</button>
        </div>
          
          <button class="hader__menu" href="#">
            <img src="images/btn-content.svg" alt="" />
          </button>
        </div>
      </div>
    </header>
  </body>
</html>
